* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: lightseagreen;
}
nav {
    background-color: limegreen;
    position: sticky;
    top: 0px;
}
section {
    background-color: rgb(72, 197, 156);
    margin-left: -10px;
}
article {
    background-color: rgb(4, 196, 110);
}
aside {
    background-color: rgb(107, 206, 107);
    height: 405px;
    margin: 5px;
    margin-top: -0px;
    margin-bottom: -0px;
    margin-left: -0px;
}
footer {
    background-color: rgb(0, 142, 135);
}
nav, header, footer{
    min-height: 100px;
    margin: 5px;
}
section, article{
    height: 200px;
    margin: 5px;
}
header, nav, section, article, aside, footer{
    border: 3px;
    border-color: #011701;
    border-style:double;
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
h1{
    text-align: center;
    color: rgb(236, 250, 250);
    text-shadow: #474747 3px 5px 2px;
}
p{
    text-align: center;
    color: azure;
}
body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul {
    padding: 0px;
    margin: 0px;
}
li {
    list-style:none;
    display: inline-block;
    text-align: center;
}
li > a {
    color:rgb(245, 246, 250);
    font-size: 15px;
    /* text-align: center; */
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color:lightseagreen;
    background-color: whitesmoke;
}
a:active{
    color: aquamarine;
}
/* .logo{
    padding: 0px;
    background-color: white;
    width:50px;
    height: 50px;
    float:left;
}
.float-left {
    float: both;
} */
.clearfix {
    clear: left;
}
.p1{
    width: 800px;
    height: 100px;
    display: inline-block;
}
.p2{
    width: 800px;
    height: 100px;
    display: inline-block;
}
.main-column {
    width: 50%;
    margin-top: -5px;
    margin-bottom: -5px;
}
.sidebar{
    width: 49.5%;
    margin-right: -0px;
    background-image:url("../img/tech-bb.png");
    background-size: contain;
    background-repeat: none;
}
.float-left{
    float: left;
}
.clearfix{
    clear:both;
}
.mini{
    height: 15px;
    width: 2px;
}
.space{
    height: 20px;
    width: 2px;
}
.nav-align{
    text-align: center;
}